.title {
  background-color: #000;
  display: block;
  color: #fff;
  padding-left: 16px
}

.search-result-canvas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

img.logo {
  width: 50px;
  height: 50px;
  display: inline;
  vertical-align: middle;
}

input.search-bar {
  display: inline;

}

div.header {
  background-color: #243238;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
