@import url('https://fonts.googleapis.com/css?family=Lato|Noto+Sans|Muli|Nunito|Lobster+Two:400i&display=swap');

.collageContainer {
    display: flex;
    justify-content: center;
}
.categoryTitle {
    margin: 20px 50px;
    text-align: left;
    font-family: 'Lato';
    font-size: 1.2rem
}
.searchResultRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 10px;
}
.mainTitle {
    font-family: 'Lobster Two';
    color: rgb(37, 113, 148);
    font-size: 90px;
    text-shadow: 1px 1px 3px white;
    margin-left: 29%;
}
.subText {
    font-family: 'Muli';
    font-size: 25px;
    color: white;
    margin-top: 14%;
    margin-left: 60%;
    color: #494F50;

}
.landingPage {
    text-align: center;
    vertical-align: center;
}