@import url('https://fonts.googleapis.com/css?family=Lato|Noto+Sans&display=swap');

.homePageContainer {
    margin: 0px 10px;

}
.collageContainer {
    display: flex;
    justify-content: center;
}
.categoryTitle {
    margin: 20px 50px;
    text-align: left;
    font-family: Lato;
}
.searchResultRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 10px;
}