.homePageContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px 10px;

}
.categoryTitle {
    margin: 20px 50px;
    text-align: left;
}
.searchResultRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 10px;
}