.container {
    margin: 10px;
}

.searchResultRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.image {
    transition: all 1s;
}

.image:hover {
    transform: scale(1.03);
    opacity: 0.90;
    cursor: pointer;
}

.movieTitle {
    text-align: center;
    font-size: 16px;
    max-width: 230px;
} 

.movieTitle:hover {
    cursor: pointer;
} 

.releaseDate {
    text-align: center;
    margin: 10px;
}

.releaseDate:hover {
    cursor: default;
}