@import url('https://fonts.googleapis.com/css?family=Lato|Noto+Sans&display=swap');

td {
    vertical-align: top;
}

.movieTitle {
    margin-top: 0;
    transition: opacity 0.5s ease;
    padding-top: 20px;
    color: #2e2d2d;
}

.movieTitle:hover {
    cursor: pointer;
    opacity: 0.8;
}

.image {
    transition: opacity 0.5s ease;
}

.image:hover {
    cursor: pointer;
    opacity: 0.8;
}

p {
    text-align: justify;
    text-justify: inter-character;
    margin: 10px;
    font-family: 'Noto';
    color: #636060;
}

.date {
    text-align: justify;
    text-justify: inter-character;
    margin: 10px;
    font-family: 'Noto';
    font-weight: bold;
    color: rgb(68, 66, 66);
}

table {
    width: 40%;
}

div.container {
    width: 230px;
    height: 350px;
    position: relative;
    margin: 20px 0px;
 }
