@import url('https://fonts.googleapis.com/css?family=Lato|Noto+Sans|Muli|Nunito|Lobster+Two:400i&display=swap');

.title {
  background-color: #000;
  display: block;
  color: #fff;
  padding-left: 16px
}

.searchResultCanvas {
  display: grid;
  grid-template-columns: 50% 50%;
}

img {
  background-repeat:no-repeat;
}

img.logo {
  display: inline;
  vertical-align: middle;
  margin: 10px 15px;
}

input.searchBar {
  margin: 10px;
  width: 300px;
  background-image: url("./search.svg");
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 6%;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  border-radius: 4px;
  border: 0;
}

div.header {
  background-color: #243238;
  height: 65px;
  top: 0px;
  left: 0px;
  text-align: left;
  position: sticky;
  z-index: 10000;
  display: flex;
}

.appLogo {
  animation: App-logo-spin infinite 20s linear;
  height: 90px;
  padding: 5px;
}
